<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>izborGrupe</title>
</head>
<body>
    <form action="{% url 'sacuvajizborgrupe'%}" method="post">
        {% csrf_token %}

        <textarea cols="1" rows="10" name="studentID" style="display:none;">{{ student.id }}</textarea>

        <label>Indeks</label>
        <textarea disabled rows="1" cols="10" name="smer">{{ student.smer }}</textarea>
        <textarea disabled rows="1" cols="10" name="broj_indeksa">{{ student.broj_indeksa }}</textarea>
        <textarea disabled rows="1" cols="10" name="godina_upisa">{{ student.godina_upisa }}</textarea><br><br>

        <label>Ime</label>
        <textarea disabled rows="1" cols="10" name="ime">{{ student.ime }}</textarea><br><br>

        <label>Prezime</label>
        <textarea disabled rows="1" cols="10" name="prezime">{{ student.prezime }}</textarea><br><br>

        <label>Broj do sada ukupno ostvarenih ESPB</label>
        <textarea rows="1" cols="10" name="ostvarenoESPB"></textarea><br><br>

        <label>Skolse {{ semestar.skolska_godina_pocetak }} / {{ semestar.skolska_godina_kraj }} godine upisujem ESPB</label>
        <textarea rows="1" cols="10" name="upisujeESPB"></textarea><br><br>

        <label>Broj do sada polozenih ispita</label>
        <textarea rows="1" cols="10" name="broj_polozenih_ispita"></textarea><br><br>

        <label>Semestar</label>
         {%  if semestar.vrsta == 'parni' %}
             <input type="radio" name="upisuje_semestar" value={{ 2 }}> 2
             <input type="radio" name="upisuje_semestar" value={{ 4 }}> 4
             <input type="radio" name="upisuje_semestar" value={{ 6 }}> 6
             <input type="radio" name="upisuje_semestar" value={{ 8 }}> 8<br><br>
        {% else %}
             <input type="radio" name="upisuje_semestar" value={{ 1 }}> 1
             <input type="radio" name="upisuje_semestar" value={{ 3 }}> 3
             <input type="radio" name="upisuje_semestar" value={{ 5 }}> 5
             <input type="radio" name="upisuje_semestar" value={{ 7 }}> 7<br><br>
        {% endif %}

        <label>Prvi put upisuje</label>
        <input type="radio" name="prvi_put_upisuje_semestar" value=True> DA
        <input type="radio" name="prvi_put_upisuje_semestar" value=False> NE<br><br>

        <label>Grupa koju student bira</label>
        <select name="izabrana_grupa">
        {%  for g in lista %}
            <option value={{ g.id }} >{{ g.oznaka_grupe }}</option>
        {% endfor %}
        </select><br><br>

        <label>Nepolozeni predmeti iz prethodnih godina</label>
        <select name="nepolozeni_predmeti" multiple>
        {%  for p in predmeti %}
            <option value={{ p.id }} >{{ p }}</option>
        {% endfor %}

        </select><br><br>

        <label>Nacin pracanja</label>
        <input type="radio" name="nacin_placanja" value="Odjednom">Odjednom
        <input type="radio" name="nacin_placanja" value="Stipendista">Stipendista
        <input type="radio" name="nacin_placanja" value="Na rate">Na rate<br><br>

        <input type="submit" value="Sacuvaj">
    </form>

</body>
</html>