{% extends 'studserviceapp/BasedNastavnik.html' %}
{% block content %}

    <table>
        <tbody>
        {%  for kljuc, vrednost in recnik.items %}
             <tr>
             <td>{{kljuc}}</td>
             </tr>
            {% for g in vrednost %}
                <tr>
                    <td><a href="{% url 'prikazgrupe' nastavnik.nalog.username g.id %}">{{g.oznaka_grupe}}</a></td>
                </tr>
             {% endfor %}

        {% endfor %}

        </tbody>
    </table>
{% endblock %}